<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Test login compat</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div *ngIf="!isLoggedIn" class="page">
    <ion-input [(ngModel)]="email" placeholder="email" type="email"></ion-input>
    <ion-input [(ngModel)]="pwd" placeholder="password" type="password"></ion-input>
    <ion-button (click)="doLogin()" expand="block">Login</ion-button>
  </div>
  <div *ngIf="isLoggedIn" class="page">
    <h3>Logged in as {{email}}</h3>
    <ion-button (click)="doLogout()" color="secondary" expand="block">Logout</ion-button>
  </div>
</ion-content>
